@import url('https://fonts.googleapis.com/css2?family=Agdasima&family=Tilt+Neon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Agdasima&family=Montserrat:wght@500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Agdasima&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    font-family: 'Agdasima', sans-serif;
    font-family: 'Montserrat', sans-serif;
           width: 100%;
}
#jjjjjj{
    color: #fff;
}
#navbard{
    position: -webkit-sticky; /* Safari */

}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100%;
}
#navlink{
position: relative;
color: #fff;
font-weight: 690;
transition: 1.2s;
}

#navlink::after{
content: "";
position: absolute;
width: 0%;
height: 2.7px;
background-color:  #ff004f;
left: 0;
bottom: -2px;
transition: ease .43s;
}
#navlink:hover::after{
width: 100%;
}
#navlink:hover{
    color: #ff004f;
}



.btnm{
    padding: 9.5px 40px;
    border:none;
    border-radius: 50px;
    border: 1.5px solid #fff;
    color: #fff;
    cursor: pointer;    
    background-color: transparent;
transition: all 0.5s ease-in-out;
margin-top: 25px;
}
.btnm:hover{
    background-color: #ff004f;
    transform: translateY(-5px);
}
    #lpop{
    padding: 9.5px 10px;
    border:none;
    border-radius: 50px;
    border: 1.5px solid #fff;
    color: #fff;
    cursor: pointer;    
    background-color: transparent;
transition: all 0.5s ease-in-out;
}
#lpop:hover{
    background:#ff004f;
    transform: translateY(-5px);
}
*::selection{
    background-color:#ff004f;
    color: #fff;
}

.home-page{
    width: 100%;
    height: 100vh;
    background-image: url("./images/background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.text{
    color: #fff;
    padding: 4% 1% 1% 5%;
}
.text h1{
    line-height: 1.9;
}
.zohaib,.shehzad,.pakistan{
    color: #ff004f;
    font-weight: 700;
    letter-spacing: 5px;
    font-family: 'Tilt Neon', sans-serif;
    border-bottom: 1.5px solid white;
}

.auto-type{
    padding-top: 200px;
    font-size: 40px;
    font-family: 'Tilt Neon', sans-serif;
color: #ff004f;
}
#hghg{
    display: flex;
    justify-content: center;

}
#jhnj,i{ 
font-size: 5rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
color: red;
opacity: 0;
transition:1s ease-in-out;
}
.second-page{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
background-color: #000;
}
.left-ing-side{
    width: 50%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
    .left-ing-side img{
        width: 60%;
        height: 80%;
border: 5px solid #ff004f;
border-radius: 15px;
box-shadow: 5px 10px 20px white;
    }
    .right-text-side{
        width: 50%;
        height: 100vh;
        padding-top: 7%;
        padding-right: 50px;
    }
        #rtrt{
            background-color: #000;
            color: #ff004f;
        }
    .accordion-body{
background-color: #000;
        color: #fff;
        border: 2px solid #ff004f;
    }
    .accordion{
        box-shadow: 3px 10px 15px #ff004f;
    }
    #right-ing-side-h5{
color: #ff004f;
text-align: center;
font-size: 60px;
letter-spacing: 4px;
font-family: 'Creepster';
padding-top: 7px;
padding-bottom: 7px;
    }
    #portfolio{
        width: 100%;
        background-color: #000;
    }
    .card1-portfolio{
        width: 400px;
        height: 470px;
        border: 2px solid #fff;
        border-radius: 17px;
        overflow: hidden;
        transition:0.5s;
        color: #fff;
        text-align: center;
    }
    .card1-portfolio img{
        width: 400px;
        height: 200px;
        cursor: pointer;
    }
    .card1-portfolio:hover{
        transform: translateY(-17px);
        box-shadow: 5px 5px 20px white;

    }
    .myproject{
        font-size: 45px;
        font-weight: 700;
        text-align: center;
        color: #ff004f;
    }
    .btnnm{
        padding: 9.5px 40px;
        border:none;
        border-radius: 50px;
        border: 1.5px solid #fff;
        color: #fff;
        cursor: pointer;    
        background-color: transparent;
    transition: all 0.5s ease-in-out;
    margin-top: 25px;
    }
    .btnnm:hover{
        background-color: #ff004f;
        transform: translateY(-5px);
    }
    .all-cards{
        display: grid;
        justify-content: center;
    grid-template-columns: repeat(auto-fill,400px);

        gap: 40px;
        
    }
    .myproject{
        padding-top: 30px;
        padding-bottom: 20px;
    }
    .login{
        width: 70%;

    }
    @media (max-width:974px) {
        .second-page{
            flex-direction: column;
            width: 100%;
        }
        .left-ing-side{
            width: 100%;
padding-top: 90%;
            height: 150%;
display: flex;
justify-content: center;
        }
        .left-ing-side img{
            width: 70%;
        }
        .right-text-side{
            width: 100%;
            height: 110vh;
            padding-bottom: 70%;
        }
        .portfolio{
            padding-top: 20%;
        }
    }
    @media (max-width:600px) {
        .home-page{
            background-image: url("./images/phone-background.png");
        }
    }